// Place all the styles related to the baskets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.baskets, #basket{
  .basket_title{
    font: 130% bold;
  }
  .item_price, .order_total{
    text-align: right;
  }
  .order_total .order_sum{
    font-weight: bold;
    border-top: 1px solid #4d0202;
  }

  table{
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
  }

  float: left;
  padding: 1em 2em;
  font-size: smaller;
  width: 20%;

  form, div{
  }

  input{
    font-size: small;
  }

}