// Place all the styles related to the MafStore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  h1{
    color: #ec8c91;
    font-size: 400%;
    line-height: 110%;
  }

