// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_form {
  margin-top: 10px;
  width: 50%;
  fieldset {
    background: #FFFDFD;
    legend {
      color: #FFFDFD;
      background: #9E7878;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left:
      4em;
    }
    br {
      display: none;
    }
  }
}

